@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('./dune-footage-trailer.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}