@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('./dune-footage-trailer.jpg');
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
}

.countdown-container {
  display: flex;
}

.span {
  text-align: center;
  font-size: 2rem;
}